.buttonbutton5 {
 background-color: red;
 border: none;
 border-radius: 12px;
 color: yellow;
 padding: 20px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 font-weight: bold;
 font-style: italic;
 margin: 4px 2px;
 cursor: pointer;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

h1 {
 font-style: italic;
 font-weight: bold;
 color: blue;
 text-align: center;
}

p {
  font-weight: bold;
  text-align: center;
}

.container {
  font-style: oblique;
  text-align: center;
}
